:root {
  --form-control-color: rebeccapurple;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.ttf') format("truetype");
    font-weight: 700;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.row-native {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    align-items: center;
}

/*.row-native input[type="radio"]{*/
/*    display: none;*/
/*}*/


.column-native {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}


body {
    font-family: 'Gilroy';
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1300px;
    height: 61px;
    left: 70px;
    top: 0;
}

.header p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.header .logotype {
    width: 150px;
    height: 53px;
}

.header .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header .menu .elementss {
    margin: 0 24px 0 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.header .menu .elementss-background {
    margin: 0 24px 0 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    background: #662D91;
    border-radius: 8px;
}

.brief {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0 0 0;
}

.steps-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.steps-bar p {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.steps-bar .circles {
    margin-left:12px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #E5E5E5;
    border-radius: 25px;
}

.steps-bar .circles a {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps-bar .circles .inactive {
    color: #9D9D9D;
    pointer-events: none;
}

.steps-bar .circles-active {
    margin-left:12px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #662D91;
    border-radius: 25px;

}

.steps-bar .circles-active a {
    pointer-events: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brief .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    justify-content: start;
    width: 100%;
}

.brief .subtitle{
    width: 600px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.specialist {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 7px;

    width: 504px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
}

.quiz_radio {
    position: absolute;
    opacity: 0;
    width: 480px;
    height: 604px;
    cursor: pointer;
}

.quiz_radio:checked ~ .specialist{border: 5px solid #662D91;}
.quiz_radio:hover ~ .specialist{border: 5px solid #A381BD;}
.quiz_radio:checked:hover ~ .specialist{border: 5px solid #662D91;}

.brief .specialist img{
    width: 230px;
    height: 300px;
}

.brief .specialist .top_ppc{
    background: linear-gradient(180deg, rgba(0, 255, 178, 0.35) 0%, rgba(0, 117, 255, 0.11) 100%);
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.brief .specialist .top_digital{
    background: linear-gradient(180deg, rgba(143, 0, 255, 0.35) 0%, rgba(255, 0, 229, 0.11) 100%);
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.brief .specialist .title{
    font-weight: 600;
    font-size: 1.85rem;
    line-height: 39px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.brief .specialist .bot{
    margin: 20px 12px 12px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.brief .specialist .top{
     margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.show_above {
    background: #FFFFFF;
    color: #000000;
    padding: 3px 15px 3px 20px;
    position: absolute;
    border-radius: 4px;
    margin-top: -27px;
    left: 50%;
    transform: translateX(-50%);
}

.show_above::after {
    content: "";
    width: 2px;
    height: 2px;
    background: red;
    top: -1px;
}

.output_p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 4px 0 0 0;
}

.output_output {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.wrapper-finish{
    display: grid;
    grid-template-columns: 348px 348px 348px;
    grid-auto-rows: 504px;
}
.box-finish-cover {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-finish{
    margin:24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background: #FFFFFF;
    padding: 24px;
    width: 100%;
    height: 90%;
}

.box-finish-hover{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 252px;
    height: 420px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    display: none;
    color: #000000;
}

.box-finish:hover ~ .box-finish-hover{
    color: #000000;
    display: flex;
}

.box-finish-hover:hover{
    color: #000000;
    display: flex;
}

.title{
    margin: 0;
}
.content{
    margin-top: 0;
}

.description{
    margin-top: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.highed{
    font-size: 16px;
    margin-top: 0;
    margin-right:10px;
    display: flex;
    padding: 4px 4px 4px 8px;
    align-items: center;
    border-radius: 8px;
    font-weight: 700;
    border:1px solid #662D91;
    color:#662D91;
}

.skills-item{
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0;
}

.skills-score{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}

.box:hover{
    background: rgba(255, 255, 255, 0.75);
}

.finish-head{
    margin:0;
    font-size: 20px;
    line-height: 25px;
}

.finish-text{
    margin:0;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.finish-time{
    margin:0;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.bold-title-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    justify-content: start;
    width: 100%;
}

/*.active-card {*/
/*    border: 5px solid #662D91;*/
/*    box-sizing: border-box;*/
/*}*/

/*.inactive-card {*/
/*    border: none;*/
/*    box-sizing: border-box;*/
/*}*/

.popup-native {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    opacity: 1;
    z-index: 99999;
}

.popup-fade-native {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-popup {
    padding: 15px;
}

.loader {
  border: 16px solid #662D91; /* Light grey */
  border-top: 16px solid #f3f3f3; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}