.input {
    font-family: 'Gilroy';
    font-style: normal;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.input p{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}
.input input{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border:1px solid #662D91;
    padding: 8px 10px 10px 10px;
    border-radius: 8px;
    margin:0;
    flex:1;
}

.next_button {
    background: #662D91;
    border-radius: 8px;
    border: 1px solid #662D91;
    padding: 12px;
    color: #FFFFFF;
    margin-top: 48px;
    margin-bottom: 50px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
