<div style="padding:40px;margin:40px;border:1px solid #ccc">
    <h1>Django File Upload</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form><hr>
    <ul>
    {% for document in documents %}
        <li style="display: flex; flex-direction: row; align-items: center; justify-content: space-between">
            <a href="{{ document.upload.url }}" target="_blank" rel="noopener noreferrer">{{ document.upload.name }} <small>({{ document.upload.size|filesizeformat }})</small></a>

            <a href="{{ document.download.url }}" target="_blank" rel="noopener noreferrer">{{ document.download.name }} <small>({{ document.download.size|filesizeformat }})</small></a>
            <a>{{document.created_at}}</a>
        </li>
    {% endfor %}
    </ul>
</div>
