{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="World-class digital marketers in your team">
    <meta name="author" content="KenChoreo">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <title>PDF Converter </title>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


</head>

<body>
    <div class="input">
        <p style="margin: 0 0 8px 5px; flex:1">If you have a job description<span style="color:#9D9D9D"> (not required)</span></p>
        <div class="label-upload" style="display: flex; flex-direction: row; justify-content: space-between">
            <input id="upload_cv" type="file" hidden onchange="updateList()"/>
            <label for="upload_cv">Upload file</label>
            <script>
                updateList = function() {
                    const input = document.getElementById('upload_cv');
                    input.files = null;
                    const output = document.getElementById('file_chosen');
                    const remove = document.getElementById('remove');
                    const file_extension = input.files[0].name.split('.').pop();
                    if(file_extension === 'pdf'){
                        if(input.files[0] !== null){
                        output.innerHTML = input.files[0].name;
                        remove.style.visibility = 'visible';
                        }else{
                            output.innerHTML = 'No file chosen';
                            remove.style.visibility = 'hidden';
                        }
                    }else{
                        input.files = null;
                        output.innerHTML = 'PDF format only, try another file';
                        remove.style.visibility = 'hidden';
                    }
                }
                updateData = function(){
                    const input = document.getElementById('upload_cv');
                    const output = document.getElementById('file_chosen');
                    const remove = document.getElementById('remove');
                    input.files = null;
                    output.innerHTML = 'No file chosen';
                    remove.style.visibility = 'hidden';
                }
            </script>
        </div>
    </div>

</body>

</html>